@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
  font-family: "Nanum Gothic", sans-serif;
}

* {
  font-family: "KCC-Ganpan";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
}

:root {
  --orange-red: #d62300; /*오렌지레드*/
  --beige: #f5ebdc; /*화이트베이지*/
  --dark-brown: #2b0200; /*고동색. 제일 진한 갈색입니다*/
  --brown: #502314; /*붉은 끼 도는 갈색*/
}

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 50;
}

header > nav {
  padding-top: 20px;
  display: flex;
  height: 120px;
  justify-content: center;
  position: relative;
  /* box-shadow: 0 0 3px rgb(173, 173, 173); */
}

header > nav > .mainmenu {
  display: flex;
  align-items: center;
}

.back::before {
  content: "";
  background-color: #ffffff;
  width: 100%;
  height: 320px;
  position: absolute;
  display: block;
  top: 0;
  left: -200%;
  box-shadow: 2px 2px rgb(202, 202, 202);
}
header > nav > .logo {
  margin-right: 40px;
}

header > nav .mainmenu > ul {
  display: flex;
  flex-wrap: nowrap;
}

header > nav .mainmenu > ul > li {
  float: left;
  vertical-align: middle;
  position: relative;
  width: 160px;
}

header > nav .mainmenu > ul > li > button > span {
  font-size: 16px;
}

header > nav .mainmenu > ul > li > button {
  width: 100%;
  height: 100px;
  border: none;
  background-color: #fff;
  font-size: 24px;
  text-align: left;
}

header > nav .mainmenu > ul:hover {
  z-index: 100;
}

header > nav .mainmenu > ul:hover .submenu {
  left: 0;
}

header > nav .mainmenu > ul:hover .back::before {
  top: 120px;
  left: 0;
  z-index: -2;
}

header > nav .mainmenu > ul > li .submenu:hover {
  z-index: 100;
}

header > nav .mainmenu > ul > li .submenu {
  position: absolute;
  overflow: hidden;
  top: 100%;
  z-index: -1;
  left: -3000px;
  width: 100%;
}

header > nav .mainmenu > ul > li .submenu > li {
  margin-top: 8px;
}

header > nav .mainmenu > ul > li .submenu > li > a {
  font-size: 14px;
  font-family: Nanum Gothic;
  font-weight: 900;
}

header .gameng {
  background-color: var(--brown);
  color: #fff;
  font-size: 22px;
  width: 166px;
  border-radius: 25px;
  border: none;
  height: 50px;
}

header .deliver {
  background-color: var(--orange-red);
  color: #fff;
  font-size: 22px;
  width: 166px;
  border-radius: 25px;
  border: none;
  height: 50px;
}

header > nav .mainmenu > button {
  margin-left: 25px;
  cursor: pointer;
  padding-bottom: 3px;
}

@media screen and (max-width: 768px) {
  header {
    background-color: #fff;
    position: sticky;
  }

  header > nav {
    height: 58px;
    padding: 0;
  }

  .mainmenu > ul > li {
    display: none;
  }

  .mainmenu > button {
    width: 80px;
    height: 25px;
    font-size: 0.7rem;
  }

  .gameng {
    display: none;
  }

  .deliver {
    position: absolute;
    right: 20px;
  }

  .logo {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    min-width: 300px;
    /* background-color: #d62300;
   */
  }
  .logo > img {
    width: 44px;
    height: auto;
  }

  .mediamenu {
    display: block;
    border: none;
    background: url(../img/img/mediamenu.png) no-repeat;
    background-size: 22px auto;
    position: absolute;
    left: 0;
  }
}

@media screen and (min-width: 769px) {
  .mediamenu {
    display: none;
  }
}
